<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>
<!-- Footer-->
        <div class="container">
          <footer class="mt-auto bold">
            <p class="text-white-50 footer-font-size">© 2024 FlameWatchers.  All rights reserved | Made by<a href="https://github.com/KrishDhanani" target="_blank" class="heading0 footer-font-size"> Krish Dhanani</a></p>
          </footer>
        </div>
    <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>